<section id="GUI" class="light">
 <!-- CONTAINER -->
  <section id="content" class="light col-10 mx-auto">

    <!-- CONTENT -->
    <section class="col-12">
      <div class="row">
        <div class="col">
          <div class="card mb-4">
            <div class="card-header">Sign</div>
            <div class="card-body">
              <form class="form-group col-12">
                <select class="custom-select col-12">
                  <option value="" disabled selected>Choose address</option>
                </select>
                <textarea>

                </textarea>
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- /CONTENT -->
</section>
