<section id="GUI">
  <!-- CONTAINER -->
  <section id="content">
    <div class="container-fluid">
      <div class="row mb-2 mt-2">
        <div [class.col-6]="(hasBalance && !sidechainEnabled)" [class.col-12]="!(hasBalance && !sidechainEnabled)">
          <div class="card" style="min-height: 175px">
            <div class="card-body">
              <h3 class="title-bottom-border">BALANCE</h3>
              <h1>
                {{ (confirmedBalance | coinNotation) || (0 | coinNotation) }}
                <span class="text-uppercase"> {{ coinUnit }}</span><span class="text-lightblue" style="font-size: 70%;"> ≈{{ spendableBalanceBaseValue }} BTC</span>
              </h1>

              <ul class="list-unstyled text-lightblue">
                <!-- <li><strong>{{ (awaitingMaturity | coinNotation) || (0 | coinNotation) }}</strong><em> (staking)</em></li> -->
                <li><strong class="text-uppercase">{{ (unconfirmedBalance | coinNotation) || (0 | coinNotation) }} {{ coinUnit }}</strong><em> (unconfirmed)</em></li>
                <!-- <li><strong>805.65900153</strong> <em>(staking)</em></li> -->
              </ul>
              <div class="float-right">
                <a class="btn btn-primary" (click)="openReceiveDialog()">
                  <i class="icon lnr lnr-arrow-down-circle mr-2"></i>
                  <span class="text-center text-uppercase">
                    Receive
                  </span>
                </a>
                <a class="btn btn-success ml-2" (click)="openSendDialog()">
                  <i class="icon lnr lnr-arrow-up-circle mr-2"></i>
                  <span class="text-center text-uppercase">Send</span>
                </a>
              </div>

            </div>
          </div>
        </div>
        <div class="col-6 pl-0" *ngIf="hasBalance && !sidechainEnabled">
          <div class="card" style="min-height: 175px" *ngIf="!stakingEnabled">
            <div class="card-body">
              <h3 class="title-bottom-border text-uppercase">Staking</h3>
              <form [formGroup]="stakingForm">

                <label class="text-uppercase" for="inputPassword">Password</label>
                <input type="password" formControlName="walletPassword" class="form-control mb-3" id="inputPassword">

                <span class="float-left pt-3 text-warning"><strong><i class="icon lnr lnr-warning"></i></strong> Unlock your wallet to start staking</span>

                <button type="button" id="flipcard" class="btn btn-success float-right mt-2 text-uppercase" [disabled]="isStarting || !stakingForm.valid" (click)="startStaking()"><i class="icon lnr lnr-lock mr-2"></i> Unlock</button>
                <button type="button" class="btn btn-primary float-right mt-2 text-uppercase mr-2" (click)="openSplitDialog()"><i class="icon lnr lnr-layers mr-2"></i> Split</button>
              </form>
              <div class="clearfix"></div>
            </div>
          </div>
          <div id="staking" class="card" style="min-height: 175px" *ngIf="stakingEnabled">
            <div class="card-body">
              <h3 class="title-bottom-border text-uppercase">Staking status</h3>
              <div class="row">
                <div class="col-12 mb-2">
                  <div *ngIf="isStarting" class="d-flex justify-content-center">
                    <img src="./assets/images/loading.svg" width="75" height="75" />
                  </div>
                  <div *ngIf="!isStarting">
                    <div class="row ml-0" style="margin-bottom: 13px;">
                      <div class="col">
                        <h3 class="text-uppercase">
                          AMOUNT
                        </h3>
                        <span>{{ stakingWeight | coinNotation | number: '1.0-0' }} {{ coinUnit }}</span>
                      </div>
                      <div class="col">
                        <h3 class="text-uppercase">
                          IMMATURE
                        </h3>
                        <span>{{ awaitingMaturity | coinNotation | number: '1.0-0' }} {{ coinUnit }}</span>
                      </div>
                      <div class="col">
                        <h3 class="text-uppercase">
                          NETWORK
                        </h3>
                        <span>{{ netStakingWeight | coinNotation | number: '1.0-0' }} {{ coinUnit }}</span>
                      </div>
                      <div class="col">
                        <h3 class="text-uppercase">
                          EST. REWARD
                        </h3>
                        <span>{{ dateTime }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 text-left">
                  <span class="text-success">Staking is active <span class="lnr lnr-checkmark-circle"></span></span>
                </div>
                <div class="col-6 text-right">
                  <button type="button" class="btn btn-primary text-uppercase mr-2" (click)="openSplitDialog()"><i class="icon lnr lnr-layers mr-2"></i> Split</button>
                  <button type="button" class="btn btn-danger text-uppercase" [disabled]="isStopping" (click)="stopStaking()"><span class="lnr lnr-cross-circle mr-2"></span> Stop Staking</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 mt-2">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3 class="title-bottom-border text-uppercase">Txbit XLR/BTC Statistics</h3>
              <div class="row pl-2">
                <div class="col">
                  <h3 class="text-uppercase">
                    PRICE
                  </h3>
                  <span class="{{ priceClass }}"><span class="lnr {{ priceIcon }}"></span> {{ lastPrice }} BTC</span>
                </div>
                <div class="col">
                  <h3 class="text-uppercase">
                    24H CHANGE
                  </h3>
                  <span class="{{ priceClass }}">{{ priceChange }} %</span>
                </div>
                <div class="col">
                  <h3 class="text-uppercase">
                    High
                  </h3>
                  <span>{{ highPrice }} BTC</span>
                </div>
                <div class="col">
                  <h3 class="text-uppercase">
                    Low
                  </h3>
                  <span>{{ lowPrice }} BTC</span>
                </div>
                <div class="col">
                  <h3 class="text-uppercase">
                    24H Volume
                  </h3>
                  <span>{{ baseVolume }} BTC</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="transactionArray">
        <div class="col-12">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="title-bottom-border text-uppercase">Latest Transactions</h3>

              <div class="row row-header mr-1 ml-1">
                <div class="col row-header-column">Type</div>
                <div class="col row-header-column text-right">Amount</div>
                <div class="col row-header-column text-center">Date</div>
                <div class="col row-header-column text-right">Details</div>
              </div>
              <div class="row mr-1 ml-1">
                <div class="col-12" *ngFor="let transaction of (transactionArray ? transactionArray.slice(0,5): []); let i=index">
                  <div class="row rows">
                    <div class="col text-lightblue row-column">
                      <span class="text-uppercase">
                        <span class="bubble bg-warning" *ngIf="!transaction.transactionConfirmedInBlock"></span>
                        <span class="bubble bg-success" *ngIf="transaction.transactionConfirmedInBlock"></span>
                        {{ transaction.transactionType }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right" *ngIf="transaction.transactionType == 'sent'">
                      <span>
                        - {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ coinUnit }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right" *ngIf="transaction.transactionType == 'received'">
                      <span>
                        + {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ coinUnit }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right" *ngIf="transaction.transactionType == 'staked'">
                      <span>
                        + {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }} {{ coinUnit }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-center">
                      <span>
                        {{ transaction.transactionTimestamp * 1000 | date:'medium' }}
                      </span>
                    </div>
                    <div class="col text-white row-column text-right">
                      <span>
                        <a class="link" (click)="openTransactionDetailDialog(transaction)">
                          <i class="icon lnr lnr-arrow-right-circle"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-3 text-right">
                  <button type="button" class="btn btn-primary text-uppercase" (click)="goToHistory()"><i class="icon lnr lnr-book mr-2"></i> History</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!transactionArray">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3 class="title-bottom-border text-uppercase">Latest Transactions</h3>
              <div class="row">
                <div class="col-12 ml-2">
                  <h4>Looks like you haven't made any transactions yet.</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-2">
          <status-bar></status-bar>
        </div>
      </div>
    </div>
    <!-- /CONTENT -->
  </section>
  <!-- /CONTAINER-->
</section>
<!-- /GUI-->
