<!-- MODAL SEND -->
<div class="modal-header">
  <h5 class="modal-title">Send to</h5>
  <!-- button close -->
  <button type="button" class="close closemodal ml-auto" (click)="activeModal.close('Close click')">
    <i class="lnr lnr-cross"></i>
  </button>
  <!-- /button close -->
</div>
<div class="modal-body ModalSend pt-0">
  <!-- TABS -->
  <div class="form-group clearfix mb-0">
    <div class="mt-2">
      <ngb-tabset type="tabs" class="nav-fill">
        <ngb-tab class="nav-link blue" title="{{ firstTitle }}">
          <ng-template ngbTabContent>
            <form [formGroup]="sendForm">
              <!--<div class="form-group has-danger clearfix">-->
              <div class="form-group clearfix">
                <label class="float-left" for="amount">Amount</label>
                <label class="float-right" for="totalAmount">Spendable: {{ spendableBalance | coinNotation }} {{ coinUnit }}</label>
                <div class="input-group">
                  <input type="text" class="form-control" [class.is-invalid]="sendFormErrors.amount" [class.is-valid]="!sendFormErrors.amount && sendForm.get('amount').valid" formControlName="amount" placeholder="0.00 {{ coinUnit }}">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-sm" (click)="getMaxBalance()">MAX</button>
                  </span>
                </div>
                <div *ngIf="sendFormErrors.amount" class="invalid-feedback">{{ sendFormErrors.amount }}</div>
              </div>
              <!--<div class="form-group has-success">-->
              <div class="form-group clearfix">
                <label for="destinationAddress">Destination address</label>
                <input type="text" class="form-control" [class.is-invalid]="sendFormErrors.address" [class.is-valid]="!sendFormErrors.address && sendForm.get('address').valid" formControlName="address" id="destinationAddress" placeholder="Please enter the destination address here.">
                <div *ngIf="sendFormErrors.address" class="invalid-feedback">{{ sendFormErrors.address }}</div>
              </div>
              <div class="form-group clearfix">
                <label for="feeType">Fee type</label>
                <select class="form-control" [(ngModel)]="selectedFeeType" [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let feeType of feeTypes" [ngValue]="feeType" [selected]="feeType.id === 0">{{feeType.display}}</option>
                </select>
              </div>
              <div class="form-group clearfix">
                <label for="walletPassword">Wallet Password</label>
                <input type="password" class="form-control" [class.is-invalid]="sendFormErrors.password" [class.is-valid]="!sendFormErrors.password && sendForm.get('password').valid" formControlName="password" id="walletPassword" placeholder="Please enter your wallet password." >
                <div *ngIf="sendFormErrors.password" class="invalid-feedback">{{sendFormErrors.password}}</div>
              </div>
              <small *ngIf="apiError" class="text-danger">{{ apiError }}</small>
            </form>
            <div class="modal-footer p-0">
              <button *ngIf="!isSending" type="button" [disabled]="isSending" class="btn btn-danger text-uppercase" (click)="activeModal.close('Close click')">Cancel</button>
              <button *ngIf="!isSending" type="button" class="btn btn-primary btn-block text-uppercase" [disabled]="!sendForm.valid || isSending || !estimatedFee" (click)="send()">Send</button>
              <!-- SVG -->
              <div *ngIf="isSending" class="Loading LoadingSend col-2 mx-auto">
                <img src="./assets/images/loading.svg" width="30" height="30"/>
              </div>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="purple-bg" class="nav-link" title="{{ secondTitle }}">
          <ng-template ngbTabContent>
            <form [formGroup]="sendToSidechainForm">
              <!--<div class="form-group has-danger clearfix">-->
              <div class="form-group clearfix">
                <label class="float-left" for="amount">Amount</label>
                <label class="float-right" for="totalAmount">Available: {{ totalBalance | coinNotation }} {{ coinUnit }}</label>
                <!-- <span class="float-right btn-link" (click)="getMaxBalance()">max</span> -->
                <input type="text" class="form-control" [class.is-invalid]="sendToSidechainFormErrors.amount" [class.is-valid]="!sendToSidechainFormErrors.amount && sendToSidechainForm.get('amount').valid" formControlName="amount" placeholder="0.00 {{ coinUnit }}">
                <div *ngIf="sendToSidechainFormErrors.amount" class="invalid-feedback">{{ sendToSidechainFormErrors.amount }}</div>
              </div>
              <!--<div class="form-group has-success">-->
              <div class="form-group clearfix">
                <label for="federationAddress">{{ firstTitle }} federation address</label>
                <input type="text" class="form-control" [class.is-invalid]="sendToSidechainFormErrors.federationAddress" [class.is-valid]="!sendToSidechainFormErrors.federaionAddress && sendToSidechainForm.get('federationAddress').valid" formControlName="federationAddress" placeholder="Please enter the federation address here.">
                <div *ngIf="sendToSidechainFormErrors.federationAddress" class="invalid-feedback">{{ sendToSidechainFormErrors.federationAddress }}</div>
              </div>
              <!--<div class="form-group has-success">-->
              <div class="form-group clearfix">
                <label for="destinationAddress">{{ secondTitle }} destination address</label>
                <input type="text" class="form-control" [class.is-invalid]="sendToSidechainFormErrors.destinationAddress" [class.is-valid]="!sendToSidechainFormErrors.destinationAddress && sendToSidechainForm.get('destinationAddress').valid" formControlName="destinationAddress" id="destinationAddress" placeholder="Please enter the sidechain destination address here.">
                <div *ngIf="sendToSidechainFormErrors.destinationAddress" class="invalid-feedback">{{ sendToSidechainFormErrors.destinationAddress }}</div>
              </div>
              <div class="form-group clearfix">
                <label>Transaction Fee</label>
                <div>
                  <small *ngIf="!estimatedSidechainFee" class="blockText text-danger">Please enter a valid amount, federation and destination address to calculate the fee.</small>
                  <label *ngIf="estimatedSidechainFee" class="blockText text-danger">{{ estimatedSidechainFee | coinNotation }} {{ coinUnit }}</label>
                </div>
              </div>
              <div class="form-group clearfix">
                <label for="walletPassword">Wallet Password</label>
                <input type="password" class="form-control" [class.is-invalid]="sendToSidechainFormErrors.password" [class.is-valid]="!sendToSidechainFormErrors.password && sendToSidechainForm.get('password').valid" formControlName="password" id="walletPassword" placeholder="Please enter your wallet password." >
                <div *ngIf="sendToSidechainFormErrors.password" class="invalid-feedback">{{sendToSidechainFormErrors.password}}</div>
              </div>
              <small *ngIf="apiError" class="text-danger">{{ apiError }}</small>
            </form>
            <div class="modal-footer p-0">
              <button *ngIf="!isSending" type="button" [disabled]="isSending" class="btn btn-danger text-uppercase" (click)="activeModal.close('Close click')">Cancel</button>
              <button *ngIf="!isSending" type="button" class="btn btn-primary btn-block text-uppercase" [disabled]="!sendToSidechainForm.valid || isSending || !estimatedSidechainFee" (click)="sendToSidechain()">Send</button>
              <!-- SVG -->
              <div *ngIf="isSending" class="Loading LoadingSend col-2 mx-auto">
                <img src="./assets/images/loading.svg" width="30" height="30" />
              </div>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
  <!-- /TABS -->
</div>
<!-- /MODAL SEND -->
