<div *ngIf="loading" style="height: 100%; width: 100%; margin-top: -10px;">
  <div style="background-image: url(./assets/images/solaris-intro.gif); background-size: cover; height: 100%; width: 100%; margin: 0; padding: 0;">
    <div style="width: 100%; text-align: center; margin-top: 10px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';">
      <h2 style="color: white;">Loading&hellip;</h2>
    </div>
  </div>
</div>

<div *ngIf="loadingFailed">
  
</div>

<router-outlet *ngIf="!loading && !loadingFailed"></router-outlet>
