<section id="GUI">
  <!-- CONTAINER -->
  <section id="content">
    <div class="container-fluid">
      <div class="row mb-2 mt-2">
        <div class="col-3">
          <!-- card -->
          <div class="card">
            <div class="card-body">
              <!-- ul -->
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['extpubkey']" routerLinkActive="active">Extended Public Key</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['generate-addresses']" routerLinkActive="active">Generate Addresses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['resync']" routerLinkActive="active">Rescan Wallet</a>
                </li>
              </ul>
              <!-- /ul -->
            </div>
          </div>
          <!-- /card -->
        </div>
        <!-- /col -->
        <div class="col-9 pl-0">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </section>
</section>
