<section id="GUI" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 bg-dark pt-2 pb-2 border-bottom">
      <img src="./assets/images/solaris-login-logo.png" height="40" width="228" class="float-left" />

      <h4 class="float-right mt-2">Security. Privacy. Liberty.</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="title-bottom-border">Restore a wallet</h3>
          <form [formGroup]="recoverWalletForm">
            <div class="form-group col-12">
              <label class="text-left" for="walletName">Name</label>
              <input type="text" class="form-control form-control-success" [class.is-invalid]="formErrors.walletName" [class.is-valid]="!formErrors.walletName && recoverWalletForm.get('walletName').valid" formControlName="walletName" placeholder="Enter a wallet name.">
              <div *ngIf="formErrors.walletName" class="invalid-feedback">{{ formErrors.walletName }}</div>
            </div>
            <div class="form-group col-12">
              <label class="text-left" for="creationDate">Earliest Possible Creation Date</label>
              <input type="text" class="form-control" bsDatepicker formControlName="walletDate" placeholder="mm/dd/yyy" [bsConfig]="bsConfig" [minDate]="minDate" [maxDate]="maxDate" />
              <div *ngIf="formErrors.walletDate" class="text-danger mt-2">{{ formErrors.walletDate }}</div>
            </div>
            <div class="form-group col-12">
              <label class="text-left" for="walletMnemonic">Secret Words</label>
              <input type="text" class="form-control form-control-success" [class.is-invalid]="formErrors.walletMnemonic" [class.is-valid]="!formErrors.walletMnemonic && recoverWalletForm.get('walletMnemonic').valid" formControlName="walletMnemonic" placeholder="Enter your secret words.">
              <div *ngIf="formErrors.walletMnemonic" class="invalid-feedback">{{ formErrors.walletMnemonic }}</div>
            </div>
            <div class="form-group col-12">
              <label for="walletPassword">Password</label>
              <input type="password" class="form-control form-control-success" [class.is-invalid]="formErrors.walletPassword" [class.is-valid]="!formErrors.walletPassword && recoverWalletForm.get('walletPassword').valid" formControlName="walletPassword" placeholder="Enter a password.">
              <div *ngIf="formErrors.walletPassword" class="invalid-feedback">{{ formErrors.walletPassword }}</div>
            </div>
            <div class="form-group col-12">
              <label for="walletPassphrase mr-auto">Passphrase</label><em class="text-muted ml-auto float-right">(optional)</em>
              <input type="password" class="form-control form-control-success" formControlName="walletPassphrase" placeholder="Enter an optional passphrase.">
              <div *ngIf="formErrors.walletPassphrase" class="invalid-feedback">{{ formErrors.walletPassphrase }}</div>
            </div>
            <div class="modal-footer col-12">
              <button *ngIf="!isRecovering" type="button" class="btn btn-danger text-uppercase" (click)="onBackClicked()">Cancel</button>
              <button *ngIf="!isRecovering" type="button" class="btn btn-primary text-uppercase" [disabled]="!recoverWalletForm.valid || isRecovering" (click)="onRecoverClicked()">Restore</button>
              <!-- SVG -->
              <div *ngIf="isRecovering" class="text-center">
                <img src="./assets/images/loading.svg" />
              </div>
              <!-- /SVG -->
            </div>
          </form>
          <!-- /form -->
        </div>
      </div>
    </div>
    <!-- /col-8 -->
  </div>
  <!-- /row -->
</section>
<!-- /GUI-->
