<section id="GUI">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
    <img src="./assets/images/solaris-logo-small.png" width="30" class="ml-3 mr-2 mt-1 mb-1" />
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-home mr-1"></span></span> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="history" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-history mr-1"></span></span> History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="message-signature" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-pencil mr-1"></span></span> Sign</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="staking" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-star mr-1"></span></span> Cold Staking</a>
      </li>
      <li class="nav-item" *ngIf="sidechainEnabled">
        <a class="nav-link" routerLink="smart-contracts" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-file-empty mr-1"></span></span> Smart Contracts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="openAddressBook()" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-book mr-1"></span></span> Address Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" routerLink="advanced" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-cog mr-1"></span></span> Advanced</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="txbit" routerLinkActive="active" onclick="_menuOptions.setActive(this);"><span class="text-warning"><span class="lnr lnr-chart-bars mr-1"></span></span> Txbit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" (click)="logoutClicked()"><span class="text-warning"><span class="lnr lnr-exit mr-1"></span></span> Logout</a>
      </li>
    </ul>
  </nav>
</section>
