<section id="GUI" class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 bg-dark pt-2 pb-2 border-bottom">
      <img src="./assets/images/solaris-login-logo.png" height="40" width="228" class="float-left" />

      <h4 class="float-right mt-2">Security. Privacy. Liberty.</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-2">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h3 class="title-bottom-border">Confirm words</h3>
          <form [formGroup]="mnemonicForm">
            <div class="form-group col-12">
              <label for="word1">{{secretWordIndexGenerator.text1}}</label>
              <input type="text" class="form-control" formControlName="word1" id="word1" [class.is-invalid]="formErrors.word1" [class.is-valid]="!formErrors.word1 && mnemonicForm.get('word1').valid">
              <div *ngIf="formErrors.word1" class="invalid-feedback">{{ formErrors.word1 }}</div>
            </div>
            <!-- /form-group -->
            <div class="form-group col-12">
              <label for="word2">{{secretWordIndexGenerator.text2}}</label>
              <input type="text" class="form-control" formControlName="word2" id="word2" [class.is-invalid]="formErrors.word2" [class.is-valid]="!formErrors.word2 && mnemonicForm.get('word2').valid">
              <div *ngIf="formErrors.word2" class="invalid-feedback">{{ formErrors.word2 }}</div>
            </div>
            <!-- /form-group -->
            <div class="form-group col-12">
              <label for="word3">{{secretWordIndexGenerator.text3}}</label>
              <input type="text" class="form-control" formControlName="word3" id="word3" [class.is-invalid]="formErrors.word3" [class.is-valid]="!formErrors.word3 && mnemonicForm.get('word3').valid">
              <div *ngIf="formErrors.word3" class="invalid-feedback">{{ formErrors.word3 }}</div>
            </div>
            <!-- /form-group -->
            <div *ngIf="matchError" class="text-danger">{{ matchError }}</div>
            <div class="modal-footer col-12">
              <button type="button" class="btn btn-danger text-uppercase" (click)="onBackClicked()">back</button>
              <button *ngIf="!isCreating" type="button" class="btn btn-success text-uppercase" [disabled]="!mnemonicForm.valid || isCreating" (click)="onConfirmClicked()">Confirm</button>
              <!-- SVG -->
              <div *ngIf="isCreating" class="text-center">
                <img src="./assets/images/loading.svg" />
              </div>
              <!-- /SVG -->
            </div>
          </form>
          <!-- /form -->
        </div>
      </div>
    </div>
    <!-- /col-8 -->
  </div>
  <!-- /row -->
</section>
<!-- /GUI-->
