<div class="modal-header">
  <h5 class="modal-title">Delegated staking setup</h5>
  <button type="button" class="close closemodal ml-auto" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')">
    <i class="lnr lnr-cross"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="sendForm">
    <div class="form-group clearfix">
      Enter the amount that you'd like to use for delegated staking and we'll link that to the delegated staking address.
    </div>
    <div class="form-group clearfix">
      <label class="float-left" for="amount">Amount</label>
      <label class="float-right" for="totalAmount">Spendable: {{ spendableBalance | coinNotation }} {{ coinUnit }}</label>
      <input type="text" class="form-control" [class.is-invalid]="sendFormErrors.amount" [class.is-valid]="!sendFormErrors.amount && sendForm.get('amount').valid" formControlName="amount" placeholder="0.00 {{ coinUnit }}">
      <div *ngIf="sendFormErrors.amount" class="invalid-feedback">{{ sendFormErrors.amount }}</div>
    </div>
    <div class="form-group clearfix">
      <label for="hotWalletAddress">Delegated wallet address</label>
      <i class="lnr lnr-question-circle ml-2" data-placement="right" ngbTooltip="This is the address of the wallet that will be always online and staking your coins. You can setup you own node and get a delegated staking address, or use a third-party delegated address to stake your coins."></i>
      <input type="text" class="form-control" [class.is-invalid]="sendFormErrors.hotWalletAddress" [class.is-valid]="!sendFormErrors.hotWalletAddress && sendForm.get('hotWalletAddress').valid" formControlName="hotWalletAddress" id="hotWalletAddress" placeholder="Please enter the delgated staking address here.">
      <div *ngIf="sendFormErrors.hotWalletAddress" class="invalid-feedback">{{ sendFormErrors.hotWalletAddress }}</div>
    </div>
    <div class="form-group clearfix">
      <label for="feeType">Fee type</label>
      <select class="form-control" [(ngModel)]="selectedFeeType" [ngModelOptions]="{standalone: true}">
        <option *ngFor="let feeType of feeTypes" [ngValue]="feeType" [selected]="feeType.id === 1">{{feeType.display}}</option>
      </select>
    </div>
    <div class="form-group clearfix">
      <label for="walletPassword">Wallet Password</label>
      <input type="password" class="form-control" [class.is-invalid]="sendFormErrors.password" [class.is-valid]="!sendFormErrors.password && sendForm.get('password').valid" formControlName="password" id="walletPassword" placeholder="Please enter your wallet password.">
      <div *ngIf="sendFormErrors.password" class="invalid-feedback">{{sendFormErrors.password}}</div>
    </div>
    <small *ngIf="apiError" class="text-danger">{{ apiError }}</small>
  </form>
  <div class="modal-footer p-0">
    <button *ngIf="!isSending" type="button" [disabled]="isSending" class="btn btn-danger text-uppercase" (click)="activeModal.close('Close click')">Cancel</button>
    <button *ngIf="!isSending" type="button" class="btn btn-primary btn-block text-uppercase" [disabled]="!sendForm.valid || isSending" (click)="send()">Send</button>
    <!-- SVG -->
    <div *ngIf="isSending" class="Loading LoadingSend col-2 mx-auto">
      <img src="../../../../assets/images/loading.gif" width="30" height="30" />
    </div>
  </div>
</div>
